<nb-card size="giant">
  <nb-card-header>
    Cámeras de seguridad
  </nb-card-header>

  <div class="grid-container">
    <div class="single-view">
      <div class="camera" [style.background-image]="'url('+ img +')'">
        <span class="camera-name">Cámara</span>
      </div>
    </div>
  </div>

  <nb-card-footer>
    <nb-actions [size]="actionSize" fullWidth>
      <nb-action>
        <nb-icon icon="pause-circle-outline" pack="eva"></nb-icon>
        Tomar foto
      </nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>
