<nb-card size="giant">
  <nb-card-header>
    Security Camera
  </nb-card-header>

  <div class="grid-container">
    <div class="single-view">
      <div class="camera" [style.background-image]="'url('+ img +')'" *ngIf="img != ''">
        <span class="camera-name">Camera</span>
      </div>
    </div>
  </div>

  <nb-card-footer>
    <nb-actions [size]="actionSize" fullWidth (click)="this.takePhoto()">
      <nb-action>
        <nb-icon icon="pause-circle-outline" pack="eva"></nb-icon>
        Take photo
      </nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>
