[Unit]
Description=Start a python server

[Service]
Type=simple
ExecStart=python3 /home/root/server/app.py
Restart=on-failure
RestartSec=30
User=root
Group=root


[Install]
WantedBy=multi-user.target
